In [3]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame(np.random.randn(6, 4),index=list('abcdef'),columns=list('ABCD'))
df1

          A         B         C         D
a  0.233328 -0.108759  0.440172 -1.747210
b  0.506477  1.295613  0.589688  0.949075
c -0.010728  1.482282  2.098352  2.106438
d  0.734420 -0.104457 -1.514003 -0.431319
e -0.727890  0.062503 -0.784718  0.094755
f  1.673859  1.847791  2.224837  0.501079

In [14]:
s = pd.Series(np.arange(4), index=['a', 'g', 'b', 'c'])
labels = ['l','p','d', 'e']
s.reindex(labels)
s

a    0
g    1
b    2
c    3
dtype: int64

In [25]:
s = pd.Series([0,1,2,3,4,5])
s.sample(frac=0.7)

0    0
2    2
5    5
1    1
dtype: int64

In [27]:
dflookup = pd.DataFrame(np.random.rand(20,4), columns = ['A','B','C','D'])
dflookup.lookup(list(range(0,10,2)), ['B','C','A','B','D'])

array([0.65683104, 0.321867  , 0.71098373, 0.98903506, 0.02103389])

In [30]:
index = pd.Index(['e', 'd', 'a', 'b'], name='something')
index.name

'something'

In [33]:
x =index.rename('ho')
x

Index(['e', 'd', 'a', 'b'], dtype='object', name='ho')

In [34]:
index = pd.Index(list(range(5)), name='rows')

columns = pd.Index(['A', 'B', 'C'], name='cols')
df = pd.DataFrame(np.random.randn(5, 3), index=index, columns=columns)
df

cols         A         B         C
rows
0    -0.984875  0.475753  0.461361
1    -0.425715 -0.417977 -0.137621
2     1.036164 -1.046399 -0.546464
3    -2.232304  1.407769  0.871862
4    -0.297110 -0.663315  0.288101

In [35]:
df.index

Int64Index([0, 1, 2, 3, 4], dtype='int64', name='rows')

In [36]:
df.columns

Index(['A', 'B', 'C'], dtype='object', name='cols')

In [37]:
df.values

array([[-0.98487512,  0.47575331,  0.46136137],
       [-0.42571549, -0.41797683, -0.13762069],
       [ 1.03616352, -1.04639913, -0.5464642 ],
       [-2.23230448,  1.40776937,  0.87186155],
       [-0.29711014, -0.66331458,  0.28810098]])

In [38]:
index.name

'rows'

In [39]:
df.index.name

'rows'

In [40]:
df

cols         A         B         C
rows
0    -0.984875  0.475753  0.461361
1    -0.425715 -0.417977 -0.137621
2     1.036164 -1.046399 -0.546464
3    -2.232304  1.407769  0.871862
4    -0.297110 -0.663315  0.288101

In [47]:
df2 = df.index.rename('l')

In [50]:
index.set_names(["rows"], inplace=True)

In [51]:
index.name="no"

In [52]:
df

cols         A         B         C
no
0    -0.984875  0.475753  0.461361
1    -0.425715 -0.417977 -0.137621
2     1.036164 -1.046399 -0.546464
3    -2.232304  1.407769  0.871862
4    -0.297110 -0.663315  0.288101

In [53]:
columns.set_names(["cols"], inplace=True)

In [54]:
columns.name="co"

In [55]:
df

co         A         B         C
no
0  -0.984875  0.475753  0.461361
1  -0.425715 -0.417977 -0.137621
2   1.036164 -1.046399 -0.546464
3  -2.232304  1.407769  0.871862
4  -0.297110 -0.663315  0.288101

In [56]:
inde = pd.Index(list(range(5)), name='rows')

column = pd.Index(['A', 'B', 'C'], name='cols')
df = pd.DataFrame(np.random.randn(5, 3), index=inde , columns=column)
df

cols         A         B         C
rows
0     0.029065  0.449418 -0.717212
1    -0.301182  0.295976  1.416704
2     1.497807 -0.531121  1.296654
3    -1.208901 -0.546888  0.232355
4    -0.947032 -0.149011 -0.123647

In [58]:
column.set_names(["cols"], inplace=True)
column.name="mo"
df

mo           A         B         C
rows
0     0.029065  0.449418 -0.717212
1    -0.301182  0.295976  1.416704
2     1.497807 -0.531121  1.296654
3    -1.208901 -0.546888  0.232355
4    -0.947032 -0.149011 -0.123647

In [ ]:
df.index