In [6]:
import pandas as pd
with pd.option_context("display.max_rows",18,"display.max_columns", 5):
    print(pd.get_option("display.max_rows"))
    print(pd.get_option("display.max_columns"))

18
5

In [12]:
import numpy as np
df = pd.DataFrame(np.random.randn(6,6))
pd.set_option('chop_threshold', 0)
df

          0         1         2         3         4         5
0 -0.710795  0.458015  1.989696  1.714947 -1.505959 -2.195944
1  0.939384  0.987812 -0.915088  0.883883  0.327142  0.685665
2 -1.219247 -0.949680  0.743484 -0.038666 -0.883231 -0.871258
3  0.367436 -0.162712 -0.026986 -0.768541 -0.974494  0.782019
4  0.495243 -3.013735  1.478377  0.353979  0.375459  1.265321
5  0.591201  1.263331 -2.108894  0.896059 -1.895595  0.233323

In [14]:
li = [1,2,3,4]
x = [5,6,7,4]
li.append(x)
print(li)

[1, 2, 3, 4, [5, 6, 7, 4]]

In [15]:
li.extend(x)

In [16]:
print(li)

[1, 2, 3, 4, [5, 6, 7, 4], 5, 6, 7, 4]

In [17]:
li.pop()
print(li)

[1, 2, 3, 4, [5, 6, 7, 4], 5, 6, 7]

In [18]:
li.pop(2)
print(li)

[1, 2, 4, [5, 6, 7, 4], 5, 6, 7]

In [19]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [34]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0), li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [25]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = set(map(lambda x: x*2 , li))
print(final_list)

{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}

In [26]:
t=4,5,6
print(t)

(4, 5, 6)

In [27]:
len(li)

10

In [28]:
len(final_list)

10

In [29]:
len(t)

3

In [30]:
for i in t:
    print(i)

4
5
6

In [31]:
for i in final_list:
    print(final_list)

{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}
{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}
{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}
{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}
{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}
{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}
{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}
{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}
{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}
{194, 122, 10, 108, 44, 14, 46, 146, 154, 124}

In [32]:
4 in t

True

In [35]:
a = [5,6,7]

print(sum(a))

18

In [38]:
print(len(a))

3

In [39]:
c = list('abc')
print(c)

['a', 'b', 'c']

In [40]:
d = tuple('abc')
print(d)

('a', 'b', 'c')

In [41]:
d = set('abc')
print(d)

{'b', 'a', 'c'}

In [46]:
d = tuple('12')
print(d)

('1', '2')

In [47]:
d = tuple([1,2,3])
print(d)

(1, 2, 3)

In [48]:
d = tuple('[1,2,3]')
print(d)

('[', '1', ',', '2', ',', '3', ']')

In [50]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01 -0.669052 -0.037565  1.130389 -3.733858
2000-01-02  0.209215  0.866971 -1.679465 -1.752881
2000-01-03 -1.512994 -1.564427 -0.136477  0.436040
2000-01-04  0.574524  1.716758 -0.931888  0.632329
2000-01-05  0.588551 -0.500582 -0.413030 -0.570521
2000-01-06 -1.101185  1.176949  0.292113  0.687860
2000-01-07  0.909589 -0.130060  0.595623  1.081839
2000-01-08 -0.472009 -0.204852  0.617562  1.677910

In [55]:
df.iloc[0]

A   -0.669052
B   -0.037565
C    1.130389
D   -3.733858
Name: 2000-01-01 00:00:00, dtype: float64

In [54]:
df.loc['2000-01-01']

A   -0.669052
B   -0.037565
C    1.130389
D   -3.733858
Name: 2000-01-01 00:00:00, dtype: float64

In [57]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
u = lambda x: x*2
print(u(li))

[5, 7, 22, 97, 54, 62, 77, 23, 73, 61, 5, 7, 22, 97, 54, 62, 77, 23, 73, 61]